  <div class="row index_row">
    <div class="col-sm-4 col-sm-push-1 col-lg-3 col-lg-push-2 index_profile searchbar">
      <h3><i class="fa fa-search"></i> Search</h3>
           <%= form_tag profiles_path, :method=> 'get' do %>
          <div class="form-group">
            <label for="search_instrument">Instrument</label><br />
            <%= text_field_tag :search_instrument, params[:search_instrument], class: "form-control searchbar_fields" %>
            <br />
            <label for="search_name">Name</label>
            <br />
            <%= text_field_tag :search_name, params[:search_name], class: "form-control searchbar_fields" %>
            <br />
            <label for="search_city">City</label>
            <br />
            <%= text_field_tag :search_city, params[:search_city], class: "form-control searchbar_fields" %>
            <br />
            <label for="search_state">State</label>
            <br />
            <%= text_field_tag :search_state, params[:search_state], class: "form-control searchbar_fields" %>
            <br />
            <%= submit_tag "Search", class: "btn btn-purple2" %>
          </div>
        <% end %>
        
    </div>
    <div class='col-sm-8 col-lg-7 col-lg-push-1'>
      <br />
      <% if user_signed_in? %> 
        <% if current_user.profile.nil? %>
         <% @profiles.each do |profile| %>
            <% if profile.status=="Looking" %>
              <div class="col-sm-12">
                <a href="/profiles/<%= profile.id %>">
                  <div class="col-xs-10 col-xs-push-1 col-sm-9 col-sm-push-2 index_profile">
                    <div class="col-sm-6">
                        <%= image_tag profile.image.url(:normal), class: "index_image" %>
                    </div>
                     <div class="col-sm-6">
                      <p class="index_info_name"><b><%= profile.name %></b><br /></p>
                        <div class="years_spent_playing_container_index">
                            <p><%= profile.years_spent_playing %></p>
                        </div>
                        <div class="info_container">
                          <%= image_tag profile.instrument_image, class: "instrument_image_index" %> 
                        </div>
                        <% if !profile.second_instrument.empty? %>
                          <div class="info_container">
                            <%= image_tag profile.second_instrument_image, class: "instrument_image_index" %> 
                          </div>  
                        <% end %> 
                        <% if !profile.third_instrument.empty? %>
                          <div class="info_container">
                            <%= image_tag profile.third_instrument_image, class: "instrument_image_index" %> 
                          </div>  
                        <% end %> 
                      <p class="index_info">
                      <b>Instrument: </b><%= profile.primary_instrument %><br />
                      <b>Looking For: </b><%= profile.looking_for %><br />
                      <b>City: </b><%= profile.city %><br />
                      <b>State: </b><%= profile.state %><br /></p>
                    </div>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        <% else %> 
          <% @users.each do |u| %>
              <div class="col-sm-12">
                <a href="/profiles/<%= u.profile.id %>">
                  <div class="col-xs-10 col-xs-push-1 col-sm-9 col-sm-push-2 index_profile">
                    <div class="col-sm-6">
                        <%= image_tag u.profile.image.url(:normal), class: "index_image" %>
                    </div>
                    <div class="col-sm-6">
                      <p class="index_info_name"><b><%= u.profile.name %></p>
                      <div class="years_spent_playing_container_index">
                        <p><%= u.profile.years_spent_playing %></p>
                      </div>
                      <div class="info_container">
                        <%= image_tag u.profile.instrument_image, class: "instrument_image_index" %> 
                      </div>
                      <% if !u.profile.second_instrument.empty? %>
                        <div class="info_container">
                          <%= image_tag u.profile.second_instrument_image, class: "instrument_image_index" %> 
                        </div>  
                      <% end %> 
                      <% if !u.profile.third_instrument.empty? %>
                        <div class="info_container">
                          <%= image_tag u.profile.third_instrument_image, class: "instrument_image_index" %> 
                        </div>  
                      <% end %> 
                      <p class="index_info">
                      <b>Looking For: </b><%= u.profile.looking_for %><br />
                      <b>City: </b><%= u.profile.city %><br />
                      <b>State: </b><%= u.profile.state %><br />
                      </p>
                    </div>
                  </div>
                 </a>    
              </div>    
          <% end %>
        <% end %>
      <% else %>
      <% @profiles.each do |profile| %> <!--not logged in-->
            <% if profile.status=="Looking" %>
              <div class="col-sm-12">
                <a href="/profiles/<%= profile.id %>">
                  <div class="col-xs-10 col-xs-push-1 col-sm-9 col-sm-push-2 index_profile">
                    <div class="col-sm-6">
                        <%= image_tag profile.image.url(:normal), class: "index_image" %>
                    </div>
                     <div class="col-sm-6">
                      <p class="index_info_name"><b><%= profile.name %></b><br /></p>
                        <div class="years_spent_playing_container_index">
                            <p><%= profile.years_spent_playing %></p>
                        </div>
                        <div class="info_container">
                          <%= image_tag profile.instrument_image, class: "instrument_image_index" %> 
                        </div>
                        <% if !profile.second_instrument.empty? %>
                          <div class="info_container">
                            <%= image_tag profile.second_instrument_image, class: "instrument_image_index" %> 
                          </div>  
                        <% end %> 
                        <% if !profile.third_instrument.empty? %>
                          <div class="info_container">
                            <%= image_tag profile.third_instrument_image, class: "instrument_image_index" %> 
                          </div>  
                        <% end %> 
                      <p class="index_info">
                      <b>Instrument: </b><%= profile.primary_instrument %><br />
                      <b>Looking For: </b><%= profile.looking_for %><br />
                      <b>City: </b><%= profile.city %><br />
                      <b>State: </b><%= profile.state %><br /></p>
                    </div>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
      <% end %>
      <div class="col-xs-10 col-xs-push-1 col-sm-9 col-sm-push-2">
        <%= will_paginate @users, class: "apple_pagination" %>
      </div>
    </div>
  </div>


