<div class="row profile_row">
	<div class="col-sm-4 col-sm-push-1 col-xs-10 col-xs-push-1">
		<%= image_tag @profile.image.url(:medium), class: 'block profile_pic' %>
		<% if !@profile.years_spent_playing.nil? %>
			<div class="years_spent_playing_container">
				<p><%= @profile.years_spent_playing %></p>
			</div>
		<% else %> 
		<% end %>
		<div class="info_container">
				<%= image_tag @profile.instrument_image, class: "instrument_image" %> 
		</div>
		<% if !@profile.second_instrument.empty? %>
			<div class="info_container">
					<%= image_tag @profile.second_instrument_image, class: "instrument_image" %> 
			</div>	
		<% end %> 
		<% if !@profile.third_instrument.empty? %>
			<div class="info_container">
					<%= image_tag @profile.third_instrument_image, class: "instrument_image" %> 
			</div>	
		<% end %> 
		<br />
		<h3><%= @profile.name %></h3>
		<p><b>Age: </b><%= @profile.age %></p>
		<p><b>City: </b><%= @profile.city %></p>
		<p><b>State: </b><%= @profile.state %></p>
		<p><b>Instrument: </b><%= @profile.primary_instrument %></p>
		<% if @profile.status=="Looking" %>
			<p><b>Looking For: </b><%= @profile.looking_for %></p>
		<% else %> 
			<p><b>Status: </b><%= @profile.status %></p>
		<% end %> 
		<p><b>Bio: </b><%= @profile.bio %></p>
		<br />
		<%= link_to "Edit Profile", edit_profile_path(current_user), class: 'btn btn-purple' %> 
		<br /><br /><br /><br /><br />
	</div>
	<div class="col-sm-4 col-sm-push-2 col-md-5 col-md-push-2 col-lg-5 col-xs-10 col-xs-push-1 sidebar">
		<h3>Uploads</h3>
		<% if !@profile.audioclip.blank? %>
			<a rel="alternate" type="application/rss+xml" title="RSS" href="<%= @profile.audioclip %>">
				<div class="upload_display">
						<p><%= @profile.audioclip_file_name.first(24) %></p>
				</div> 
			</a>
		<% else %>
			<div class="upload_display">
				<p>Sample #1</p>
			</div> 	
		<% end %> 
		<% if !@profile.audioclip2.blank? %>
			<a rel="alternate" type="application/rss+xml" title="RSS" href="<%= @profile.audioclip2 %>">
				<div class="upload_display">
					<p><%= @profile.audioclip2_file_name.first(24) %></p>
				</div> 
			</a>
		<% else %>
			<div class="upload_display">
				<p>Sample #2</p>
			</div> 	
		<% end %> 
		<% if !@profile.audioclip3.blank? %>
			<a rel="alternate" type="application/rss+xml" title="RSS" href="<%= @profile.audioclip3 %>">
				<div class="upload_display">
						<p><%= @profile.audioclip3_file_name.first(24) %></p>
				</div> 
			</a>
		<% else %>
			<div class="upload_display">
				<p>Sample #3</p>
			</div> 	
		<% end %> 
	</div>
</div>